html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:focus {
	outline: solid #ff5722;
	outline-offset: .25em;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.15;
	color: #333;
	font-weight: 500;
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: 3em;
	font-weight: 300;
	margin: 2rem;
	color: #aaa;
}
a {
	color: #0C7ACA;
}
.sr-only {
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
}
a .icon {
	fill: #0C7ACA;
}
.container {
	margin: 0 auto;
	max-width: 1250px;
	position: relative;
}
#content {
	margin: 2em;
}
#portrait {
	max-width: 100%;
	height: auto;
}
header,footer {
	background-color: #050505;
}
footer {
	color: #999;
	flex-grow: 1;
	font-size: .8em;
}
footer > .container {
	padding: 1rem 2rem;
}
@media (min-width: 900px) {
	h1 {
		font-size: 5em;
		margin: 2rem 4rem;
	}
	main > .container {
		background: url('portrait.png') no-repeat top 2em left 22em;
		height: 820px;
	}
	#portrait {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border: 0;
	}
	#content {
		position: absolute;
		margin: 2em 4em;
		padding: 0;
	}
	footer > .container {
		padding: 1rem 4rem;
	}
}